---
import { projects } from "@cv";
import Link from "@/icons/Link.astro";
---

<script>
	const cards = document.querySelectorAll(".card") as NodeListOf<HTMLElement>;
	const buttons = document.querySelectorAll(
		".btn",
	) as NodeListOf<HTMLButtonElement>;
	const dialogs = document.querySelectorAll(
		".dialog",
	) as NodeListOf<HTMLDialogElement>;

	cards.forEach((card) => {
		card.onmousemove = (e) => {
			let x = e.pageX - card.offsetLeft;
			let y = e.pageY - card.offsetTop;

			card.style.setProperty("--x", x + "px");
			card.style.setProperty("--y", y + "px");
		};
	});

	buttons.forEach((btn, index) => {
		btn.addEventListener("click", () => {
			dialogs[index].showModal();
		});
	});

	dialogs.forEach((dialog) => {
		dialog.addEventListener("click", (event) => {
			const rect = dialog.getBoundingClientRect();
			const isInDialog =
				event.clientX >= rect.left &&
				event.clientX <= rect.right &&
				event.clientY >= rect.top &&
				event.clientY <= rect.bottom;

			if (!isInDialog) dialog.close();
		});
	});
</script>

<div
	class="w-full mx-auto h-fit grid grid-cols-1 lg:grid-cols-2 justify-items-center py-2"
>
	{
		projects.map((project) => (
			<article class="card relative w-full sm:w-124 lg:w-100 xl:w-124 h-56 border border-accent/10 rounded-md flex flex-col gap-2 p-3 overflow-hidden duration-300 mb-8">
				<header class="w-full">
					<a
						href={project.url}
						target="_blank"
						rel="noopener noreferrer"
						role="link"
						class="w-fit flex gap-1 items-center group"
					>
						<h4 class="group-hover:drop-shadow-text duration-150">
							{project.title}
						</h4>
						<Link class="size-4 group-hover:drop-shadow-text transition-transform transform group-hover:scale-[1.3] duration-300" />
					</a>
				</header>

				<div class="w-full space-y-3 grow ">
					<p class="line-clamp-3">{project.description}</p>
					<div class="w-full flex flex-wrap gap-2">
						{project.technologies.map((tech) => (
							<span class="select-none text-center text-accent text-xs font-medium text-nowrap me-2 px-2.5 py-0.5 rounded-md bg-accent/10">
								{tech}
							</span>
						))}
					</div>
				</div>

				<footer class="ml-auto flex gap-4">
					<button class="btn text-sm hover:drop-shadow-text duration-300">
						Gallery
					</button>
					<dialog class="dialog min-w-80 w-184 aspect-video">
						<img
							src={project.images[0]}
							alt="image"
							class="w-full h-full object-cover"
						/>
					</dialog>

					{/* <SocialLink href={""} tag="p" title="Github" /> */}
				</footer>
			</article>
		))
	}
</div>

<style>
	.card::before {
		content: "";
		position: absolute;
		top: var(--y);
		left: var(--x);
		transform: translate(-50%, -50%);
		background: radial-gradient(theme(colors.accent), transparent, transparent);
		width: 25rem;
		height: 25rem;
		opacity: 0;
		z-index: -2;
	}
	.card:hover::before {
		opacity: 1;
	}

	.card::after {
		z-index: -1;
		content: "";
		position: absolute;
		inset: 1px;
		border-radius: 6px;
		background: theme(colors.background);
	}

	/* 2.AL ABRIR */
	dialog[open] {
		scale: 1;
		transition: scale 0.3s ease-in-out;

		/* 1. AL INICIO */
		@starting-style {
			scale: 0;
		}
	}

	/* 3. AL CERRAR */
	dialog {
		transition:
			scale 0.3s ease,
			display 0.3s ease allow-discrete;
		scale: 0;
	}

	dialog::backdrop {
		background-color: theme(colors.background);
		opacity: 0.7;
	}
</style>
